#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .body {
  place-items: center;
} */
.shuffle-card-button, .prev-card-button, .next-card-button{
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 10px;
}
